snippet struct "struct"
typedef struct $1
{
	$2
}$3;
$1
endsnippet

snippet size "sizeof"
sizeof($1)$0
endsnippet

snippet thr "thread"
pthread_$0
endsnippet

snippet	nu "null"
NULL
endsnippet

snippet inch "header file"
#include "$1"$0
endsnippet
